*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
**/__pycache__/
*.env
.python-version

raw_data/
notebooks_backup/
wineteller_v0/raw_data/
wineteller_v0/preprocessed_data/
wineteller_v1/preprocessed_data/